body {
  margin: 0;
  padding: 1vh;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.button button {
  height: 5rem;
  min-width: 63rem;
  font-size: 160%;
  cursor: pointer;
}
